/* Sidebar */
.sidebar {
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav ul li {
    margin-bottom: 15px;
    position: relative;
}

.sidebar-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar-nav ul li a:hover {
    background-color: var(--highlight-color);
}

.arrow {
    font-size: 0.8rem;
    transition: transform 0.3s ease;
}

.dropdown.open .arrow {
    transform: rotate(180deg);
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    position: relative;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1000;
}

.dropdown.open .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    padding: 10px 20px;
    font-size: 1rem;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: var(--highlight-color);
}

/* Main Content */
.main-content {
    margin-left: 270px;
    padding: 20px;
}

/* Shop Metrics */
.metrics-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.metric {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Product List Table */
.product-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.product-list th,
.product-list td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-list th {
    background-color: var(--primary-color);
    color: white;
}

.form-section {
    margin-top: 30px; 
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%; 
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    resize: vertical; /*Ini to make resize cuma bisa vertical*/
    border: 1px solid #ddd;
}

#product-price,
#product-stock {
    width: 8%; 
}

#product-name,
#product-category{
    width: 50%;
}
#product-description,
#product-image {
    width: 98%; 
}

/* Button */
.btn-primary {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--highlight-color);
    color: var(--text-color);
}
